.footer {
  background-color: $black;
  color: $gray-light;
  font-weight: 300;
  font-size: .90rem;
}

.footer-top {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  margin: 0 -.5rem;
  div {
    width: 50%;
    margin: 0 .5rem;
    .embed-map {
      height: 200px;
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
      iframe {
        height: 100%;
        width: 100%;
      }
    }
    &:last-child {
      flex-basis: 50%;
    }
  }
  .about {
    img {
      height: 35px;
      width: auto;
      margin-bottom: .75rem;
    }
  }
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $gray-light;
  padding: 1rem 0;
  .logo-kominfo {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/logo-kominfo.png);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $white;
    border-radius: 50%;
    margin: 0 .25rem;
  }
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    &:first-child {
      justify-content: flex-start;
    }
    &:last-child {
      justify-content: flex-end;
    }
  }
}

@media(max-width: 767px) {
  .footer-bottom {
    flex-direction: column;
    div {
      text-align: center;
      &:first-child {
        margin-bottom: .25rem;
      }
    }
  }
  .footer-top {
    flex-direction: column;
    margin: 0;
    div {
      margin: 0;
      width: 100%;
      &:first-child {
        margin-bottom: .5rem;
      }
    }
  }
}