html {
  font-size: 16px;
  height: 100%;
}
body {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.45;
  overflow-x: hidden;
}
.homepage {
  background: url(../images/homepage-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@each $name, $color in $brand {
  .text-#{$name} {
    color: $color !important;
  }
  .bg-#{$name} {
    background-color: $color !important;
  }
}

.bg-transparent {
  background-color: transparent !important;
}